<h1>Add a task</h1>
<p class="maroon">
  <% if @task.errors.any? %>
    <% @task.errors.messages[:description].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</p>
<%= form_for [@task_list, @task], html: {class: "create_task_form"} do |f| %>
  <div>
    <p><%= f.label :description %></p>
    <%= f.text_field :description, autofocus: true %>
  </div>
  <div>
    <p><%= f.label :due_date %></p>

    <p><%= select_date Time.now, prefix: 'task_date' %></p>
  </div>
  <div>
    <p><%= f.label :assigned_to_id %></p>

    <p>
      <%= collection_select(:task, :assigned_to_id, @users, :id, :name) %>
    </p>
  </div>
  <div>
    <%= f.submit "Create Task" %>
  </div>
<% end %>